
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Welcome To My Store</h1>
    @{
        
            <div>
                <img src="./images/order.jpg" style="height:70vh;" alt="Welcome Image" />
            </div>
        
    }
</div>
